.o_loading_indicator {
    top: -3px;
    left: 50%;
    bottom: auto;
    width: fit-content;
    padding-inline: 12px;
    transform: translateX(-50%);
    border-bottom-left-radius: $u-border-radius;
    border-bottom-right-radius: $u-border-radius;
}