.o_content>.o_kanban_renderer {
    --Kanban-gap: 10px;
    --KanbanRecord-margin-h: 0;
    --KanbanRecord-margin-v: 0;

    &.o_kanban_ungrouped {
        padding: 12px !important;

        .oe_kanban_card  {
            border-top: $border-width solid $border-color !important;
        }
    }

    .o_kanban_record {
        .o_kanban_record_has_image_fill {
            .o_kanban_image_fill_left {
                margin-right: calc(var(--KanbanRecord-padding-v) * 2);

                >img:not(.o_kanban_image_inner_pic) {
                    border-radius: $o-border-radius-sm;
                    left: var(--KanbanRecord-padding-v);
                }

                &:not(.o_kanban_image_full) {
                    height: 100%;
                    margin-block: var(--KanbanRecord-padding-v);
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .o_content>.o_kanban_renderer:not(.o_kanban_grouped) {
        padding: 15px !important;
    }
}